
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    background-color:rgb(246,247,251) ;
    /* sc */
}
#top-bar{
    display:flex;
    box-shadow:2px 2px 2px #D6D6D7;
    justify-content: space-between;
    align-items: center;
    height:60px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #FFFFFF;
    /* margin-bottom: 70px; */
}

#main-logo{
    display:flex;
    align-items: center;
    margin-left:25px;
    font-family: 'Poppins', sans-serif;
    
}

#main-logo h1{
    font-weight: 700;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

#logo{
    width:30px;
    height:30px;
    margin-right:5px;
}

#log-out{
    margin-right:25px;
}

#nav-items{
    margin-right:900px;
}

.item{
    margin-left:5px;
    margin-right:5px;
    font-weight: 600;
    text-transform: capitalize;
}





#main-page{
    width:100%;
    height:100%;
    margin-top:110px;
}

#main-wrapper{
    width:85%;
    height:80%;
    /* background-color: aqua; */
    margin:auto
}

#input-reset{
    width:70%;

}
#search-input{
    width:500px;
    height:50px;
    border:none;
    outline: none;
    border-bottom:2px solid rgb(140,140,140);
}
#search-input::placeholder{
padding-left:25px;
}

#reset-button{
    width:100px;
    height:40px;
    background-color: #20B883;
    border:none;
    outline:none;
    border-radius:25px;
    margin-left:50px;
    color:white
}





#bottom-section{
    margin-top:40px;
}

#right-wrapper{
    width:100%;
    height:80%;
    /* border:1px solid black; */
    /* margin-top:300px; */
    /* justify-content: start; */
    /* background-color: red; */
    /* padding-left: 150px; */
    margin-top: 100px;
    margin-right:30px;
    box-sizing: border-box;
}

#table{
    /* border:1px solid black; */
    border-collapse: collapse;
    /* border-spacing: 100px; */
    /* width:500px; */
}

/* .table-head{
    border: 1px solid black;
    width:50px;
    padding-left: 50px;
    padding-right: 50px;
    border:1px solid black;
    
} */

.id{
    width:80px;
    /* border:1px solid black; */
    padding-left: 0;
    padding:12px 24px;
    font-size: 14px;
}
.product-name{
    width:150px;
    /* border:1px solid black; */
    padding:12px 24px;
    font-size: 14px;
}
.product-brand{
    width:200px;
    /* border:1px solid black; */
    padding:12px 24px;
    font-size: 14px;
}
.expiry-date{
    width:100px;
    /* border:1px solid black; */
    padding:12px 24px;
    font-size: 14px;
}
.unit-price{
    width:80px;
    /* border:1px solid black; */
    padding:12px 24px;
    font-size: 14px;
}
.stock{
    width:150px;
    /* border:1px solid black; */
    padding:12px 24px;
    font-size: 14px;
    /* font-size: 14px; */
}
.bold{
    font-weight: bolder;
    font-size: 14px;
    /* margin-top:0px; */
    background-color: #F6F7FB;
}

.table-row{
    width:100%;
    /* box-shadow: 2px 4px 4px  #F6F7FB; */
    background-color:white;
   border-bottom:4px solid #F6F7FB;
    /* border:1px solid black; */
    /* display: flex; */
    /* text-align: center; */
   /* align-items: center; */
}

#anc-tag{
text-decoration: none;
color: black;
}

.tag-anc{
    text-decoration: none;
    color:black
}
